*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
p,
div {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
}
header,
main {
  width: 100%;
  background-color: #2d2d5f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 1em;
}
header {
  position: relative;
  color: #fff;
}
#main_page {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
#main_page.active {
  left: 200px;
}
main {
  width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10;
  padding: 12px;
  background-color: #242442;
  width: 40px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}
i {
}
.fa-bars::before {
  font-size: 20px;
  color: #fff;
  text-align: center;
  /* margin: 10px; */
}
header div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header div,
section p {
  width: 600px;
}
p,
h1,
h3,
ul {
  margin: 0.8em;
}
h1 {
  white-space: nowrap;
}
button {
  background-color: #b737ee;
  padding: 0.8em 2em;
  margin: 2em;
  border: none;
  white-space: nowrap;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
section {
  position: relative;
}
header div p {
  white-space: nowrap;
}
li {
  margin-left: 2em;
}
p {
  font-size: 14px;
}
h3 {
  position: relative;
  left: -5px;
}
div img {
  width: 40%;
  aspect-ratio: 1;
  border: none;
  text-align: center;
  border-radius: 50%;
}
nav {
  width: 200px;
  border-right: 1px solid #444;
  position: absolute;
  background-color: #2d2d5f;
  height: 100vh;
  top: 0%;
  left: -200px;
}
nav > div:first-child {
  width: 100%;
  aspect-ratio: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > div {
  width: 100%;
  color: #fff;
  margin: 0;
}
nav div div {
  cursor: pointer;
  padding: 1em 2em;
  border-block: 1px solid #444;
}
nav div div:hover {
  text-decoration: underline;
}
.modal {
  scale: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #181818a1;

  z-index: 11;
}
.modal.active {
  scale: 1;
}
.modal_main {
  opacity: 0;
  width: 300px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.344);
  transition: 1s ease;
  border-radius: 5px;
}
.modal_main.active {
  opacity: 1;
}
.title {
  background-color: #2d2d5f;
  line-height: 1.5em;
  color: #fff;
  padding: 10px;
}
.title span {
  position: absolute;
  cursor: pointer;
  right: 10px;
}
form p {
  margin: 0;
  padding: 10px 10px 0px 10px;
  font-size: 13px;
  margin-top: 20px;
}
input,
label {
  display: block;
  margin: 2px;
  padding: 5px;
}
input {
  width: 95%;
  margin-left: 10px;
}
button[type="submit"] {
  position: relative;
  top: -10px;
  left: -15px;
  padding: 5px 10px;
  font-size: 12px;
}
